html {
  font-size: 16px;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  margin: 0 auto;
  width: 160px;
}

button {
  cursor: pointer;
  font-size: 12px;
  width: 100%;
}

button:disabled {
  cursor: not-allowed;
}

.container {
  width: 100%;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
}

.status {
  background-color: rgb(175, 175, 175);
}

.status.green {
  background-color: rgb(0, 128, 0);
}

.status.red {
  background-color: rgb(255, 0, 0);
}
